 @font-face {
    font-family: 'auteurices';
    src: url("Amiamie-Regular.otf");
 }

 @font-face {
    font-family: 'titre';
    src: url("Amiamie-BlackRound.otf");
 }

 body {
    height: 100vh;
    width: 100%;
    display: grid;
    margin: 0;
 }


 section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
 }

 ul {
    display: grid;
    margin: 0;
    padding: 0;
    grid-row: 1/13;
 }

 marquee {
    direction: "up";
 }


 .resume {
    font-size: 70px;
    display: grid;
    grid-column: 1/4;
    grid-row: 1/13;
    margin: 100px 200px 100px 200px;
    font-family: 'titre';
    color: rgb(58, 32, 118);
    text-align: center;
 }


 div.box:nth-of-type(1),
 li.resume:nth-of-type(1) {
    display: none;
 }

 /* div.box:not(:nth-of-type(3)),
 li.resume:not(:nth-of-type(3)) {
    display: none;
 } */

 .titre {
    /* text-align: center;
    display: grid;
    grid-row: 1/8;
    grid-column: 1/1; */
    font-family: 'auteurices';
    color: rgb(58, 32, 118);
    font-size: 20px;
    display: flex;
    text-align: center;

 }

 .box {
    background-color: rgb(255, 86, 103);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin: 10px;
    font-family: 'auteurices';
    color: rgb(58, 32, 118);
    font-size: 20px;
 }

 .date {
    background-color: rgb(255, 86, 103);
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-family: 'auteurices';
    color: rgb(58, 32, 118);
    font-size: 20px;
    text-align: center;

 }

 .author {
    background-color: rgb(255, 86, 103);
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-family: 'auteurices';
    color: rgb(58, 32, 118);
    font-size: 20px;
    text-align: center;

 }

 .item {
    background-color: rgb(255, 86, 103);
    position: fixed;
    right: 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    text-align: center;
    font-family: 'auteurices';
    color: rgb(58, 32, 118);
    font-size: 20px;
    text-align: center;
 }

 ul li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
 }