@font-face {
   font-family: 'auteurices';
   src: url("Amiamie-Regular.otf");
}

@font-face {
   font-family: 'titre';
   src: url("Amiamie-BlackRound.otf");
}

body {
    height: 100vh;
    width: 100%;
    display: grid;
    margin: 0;
    background-color: rgb(58, 32, 118);
    overflow: hidden;
    /* grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr); */
 }

 section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
 }

#insta {
    grid-row: 1/13;
    grid-column: 1/2;
    font-size: 80px;
    align-items: center;
    display: grid;
    font-family: 'titre';
    writing-mode: vertical-lr;
    text-orientation: upright;
    /* background-color: rgb(255, 86, 103); */
 }

#mail {
   grid-row: 1/2;
   grid-column: 2/13;
   display: grid;
   font-family: 'titre';   
   color:rgb(255, 255, 255)
} 
#description {
   grid-row: 2/10;
   grid-column: 2/10;
   font-family: 'auteurices';
   font-size: 70px;
   color: rgb(255, 255, 255);
}

#description p {
   margin:0;
   padding-right:20px;
}

 marquee {
   font-size: 100px;
 }