@font-face {
  font-family: 'auteurices';
  src: url("Amiamie-Regular.otf");
}

@font-face {
  font-family: 'titre';
  src: url("Amiamie-BlackRound.otf");
}

body {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(12,1fr);
    margin: 0;
    
}

/* proposition titre + barre progression */
section h1 {
  font-family: 'auteurices';
  font-size: 30px;
  position: fixed;
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 10px;
  margin: 0;
  color:rgb(58, 32, 118);
}


section.col {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: rgb(127, 182, 255);
  }

section.col ul {
  display: inline-flex;
  height: fit-content;
}  

ul li {
  display: flex;
  height: fit-content;
  list-style-type: none;
  margin: 0;
  padding: 20px, 0, 20px, 0;
}  

ul {
  padding: 0;
  margin-top: 40px;
  margin-left: 80px;
}  

  .titre {
    display: grid;
    border-right: dotted 60px  rgb(58, 32, 118);
    font-family: 'titre';
    font-size: 80px;
    padding: 10px;
    color: rgb(58, 32, 118);
    width: auto;
  }
  .date {
    display: grid;
    font-family: 'auteurices';
    font-size: 20px;
    padding: 10px;
    grid-column: 1/2;
    color: rgb(255, 86, 103);
    font-weight: normal;
    width: auto;
  }

  .auteurices {
    display: grid;
    font-family: 'auteurices';
    font-size: 80px;
    padding: 10px;
    grid-column: 1/2;
    border-left: dotted 60px rgb(255, 86, 103);
    color: rgb(255, 86, 103);
    font-weight: normal;
    width: auto;
  }

  

  /* version rideau */
  /* .auteurices {
    display: grid;
    font-family: 'auteurices';
    font-size: 100px;
    grid-column: 1/2;
    font-weight: normal;
    width: auto;
    color: rgb(58, 32, 118);
    z-index: 1;
  }



  ul {
    padding: 0;
    margin-top: 50px;
    margin-left: 0px;
  }

  section h1 {
  font-family: 'auteurices';
  font-size: 30px;
  position: fixed;
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 10px;
  margin: 0;
  color:rgb(58, 32, 118);
}
 */
