.agenda section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
.agenda section span {
  width: 300px;
}
.agenda section span:nth-of-type(1) {
  font-weight: bold;
}
