.perle {
}
.fil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  width: fit-content;
}
.rideau {
  align-items: flex-start;
  justify-content: space-between;
  display: flex;
}
.rideau::after {
  content: "";
  width: 2px;
  position: absolute;
  height: 100px;
  background-color: red;
}
